body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.container{
    width: 50vw;
    height: 50vh;
    gap: 0;
}

td{
    width: 15vw;
    height: 15vh;
    border: solid;
    text-align: center;
}