body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: #9bbfbb;
}


.container{
    width: 30vw;
    height: 50vh;
    gap: 0;
}

td{
    width: 15vw;
    height: 15vh;
    border: solid;
    text-align: center;
    font-size: 2em;
    background-color: white;
}

#resetButton{
    margin-bottom: 30px;
    background-color: black;
    color: white;
    padding: 10px;
    border: 0;
}

.winner{
    font-weight: bold;
}

@media screen and (max-width: 900px) {
    .container{
        width:50vw;
        height: 50vh;
        gap: 0;
    }
}

@media screen and (max-width: 500px) {
    .container{
        width:100vw;
        height: 50vh;
        gap: 0;
    }
}

@media screen and (max-width: 390px) {
    .container{
        width:100vw;
        height: 50vh;
        gap: 0;
    }
}





